@using BookStore.data
@using BookStore.Models
@model VMBook
@{
    ViewData["Title"] = "AddBook";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

@section Head{ 


    <script type="text/javascript">


        $(document).ready(function () {

            $("#Edit1").click(function () {
               
                var authid = $(this).parent().parent().find("#TD").text()
                debugger;
                $.ajax({
                    type: 'get',
                    url: '/BookStore/Book/Edit?Id=' + authid,
                    success: function (data) {
                        debugger
                        $("#book_BookTitle").val(data.bookTitle)
                        $("#book_Year").val(data.year)
                        $("#book_Price").val(data.price)
                        $("#book_Stock").val(data.stock)
                        $("#book_ID").val(data.id)
                        $("#book_Path").val(data.path)

                        if (data.id > 0)
                        {

                            $("#up").show()
                            $("#save").hide()
                        } 
                    },
                    error: function () {
                        alert("error")
                    }

                })
                $("#exampleModal").modal('show');
                
            });

        });

    </script>

}

@section Body{
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="book.ID" />
        <input type="hidden" asp-for="book.Path" />
        <div class="row">
            <div class="col-lg-12" style="background-color:gainsboro">
                <h1>Books Section</h1>
            </div>
        </div>
        <div class="row" style="margin-top:15px">
            <div class="col-lg-5">
                <div>
                    <input type="button" value="New Author" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" />
                </div>
                <div class="modal" id="exampleModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Category</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Book Title</label>
                                    <input type="text" class="form-control" asp-for="book.BookTitle" />
                                </div>
                                <div class="form-group">
                                    <label>Year</label>
                                    <input type="text" class="form-control" asp-for="book.Year" />
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    <input type="text" class="form-control" asp-for="book.Price" />
                                </div>
                                <div class="form-group">
                                    <label>Category</label>

                                    <select asp-for="book.Category_ID" asp-items='new SelectList(Model.categories,"ID","CategoryName")' class="form-control"></select>

                                </div>
                                <div class="form-group">
                                    <label>Author</label>

                                    <select asp-for="book.Author_ID" asp-items='new SelectList(Model.authors,"ID","FirstName")' class="form-control"></select>

                                </div>
                                <div class="form-group">
                                    <label>Stock</label>
                                    <input type="text" class="form-control" asp-for="book.Stock" />
                                </div>
                                <div class="form-group">
                                    <label>Upload Image</label>
                                    <input type="file" asp-for="book.Image" />
                                </div>
                            </div>
                            <div class="modal-footer">

                                <div style="float: right">
                                    <div style="float: left; margin-right: 13px">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                    <div style="float:left">
                                        <input type="submit" class="btn btn-primary" asp-action="Save" value="Save" style="display:block" id="save" />
                                    </div>
                                    <div style="float:left">
                                        <input type="submit" class="btn btn-primary" asp-action="Update" value="Update" style="display:none" id="up" />
                                    </div>
                                </div>

                                


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px">

            <div class="col-lg-offset-0">

                <table class="table table-bordered">

                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Book Title</th>
                            <th>Cover</th>
                            <th>Year</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th>Author</th>
                            <th>Stock</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (Book bo in Model.books)
                        {
                            <tr>
                                <td id="TD">@bo.ID</td>
                                <td>@bo.BookTitle</td>
                                <td><img src="@bo.Path" style="width:50px"/></td>
                                <td>@bo.Year</td>
                                <td>@bo.Price</td>
                                <td>@bo.Category_ID</td>
                                <td>@bo.Author_ID</td>
                                <td>@bo.Stock</td>
                                <td>
                                    <a asp-action="Delete" asp-route-Id="@bo.ID" class="glyphicon glyphicon-remove">Delete</a>
                                    <a id="Edit1" class="glyphicon glyphicon-edit">Edit</a>
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>

            </div>

        </div>
    </form>
 }
